.fiche-dwwm {
    .form-dwwm {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 50px 180px repeat(2, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 3px;
        grid-template-areas:
            "P P P P P P P"
            "T T T T H O O"
            "B B F F S S ."
            "B B F F A A .";
    }

    .parametre_examen {
        grid-area: P;
        display: flex;
        width: 100%;
        gap: 0 10px;
    }

    .item {
        flex-grow: 1;
    }

    .nom {
        flex-grow: 2;
    }

    .back {
        grid-area: B;
    }

    .front {
        grid-area: F;
    }

    .securite {
        grid-area: S;
    }

    .autres {
        grid-area: A;
    }

    .parametre_examen {
        grid-area: P;
    }

    .temps {
        grid-area: T;
    }

    .chrono {
        grid-area: H;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../img/chrono.png') no-repeat center / contain;
    }

    .commentaire {
        grid-area: O;
    }

    .chronometre {
        font-size: 2rem;
    }

    .demo {
        grid-area: D;
    }
}