{# Fiche évaluation DWWM #}

        {% extends "layout.twig" %}

        {% block main %}
            <div class="container dwwm">
                <form method="post" class="form-dwwm" id="formDwwm" action="ficher/compteRendu/dwwm">
                    <div class="temps">{% include "./partial/temps.twig" %}</div>
                    <div class="chrono">{% include "./partial/chrono.twig" %}</div>
                    <div class="back">{% include "./partial/back.twig" %}</div>
                    <div class="front">{% include "./partial/front.twig" %}</div>
                    <div class="securite">{% include "./partial/securite.twig" %}</div>
                    <div class="autres">{% include "./partial/autres.twig" %}</div>
                    <div class="parametre_examen">{% include "./partial/parametre_examen.twig" %}</div>
                    <div class="commentaire">{% include "./partial/commentaire.twig" %}</div>
                </form>
            </div>
        {% endblock %}
