{# back #}
        <input type="range" value="0" min="0" max="5" step="0.5" id="mvc" list="tickmarks">
        <input type="range" value="0" min="0" max="5" step="0.5" id="mcd" list="tickmarks">
        <input type="range" value="0" min="0" max="5" step="0.5" id="bdd" list="tickmarks">
        <datalist id="tickmarks">
            <option value="0"></option>
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </datalist>
