{# Paramétrage examen #}
        <div class="parametre_examen">
            <div class="form-floating nom">
                <input type="text" class="form-control" name="nom_prenom" id="nom_prenom">
                <label for="nom_prenom" class="form-label">Nom et prénom</label>
            </div>
            <div class="form-floating item">
                <select name="nom_ecole" id="nom_ecole" class="form-select">
                    <option value="oclock">O'Clock</option>
                </select>
                <label for="nom_ecole" class="form-label">Ecole</label>
            </div>
            <div class="form-floating item">
                <select name="specialite" id="specialite" class="form-select">
                    <option value="React">React</option>
                    <option value="Symfony">Symfony</option>
                </select>
                <label for="specialite" class="form-label">Spécialité</label>
            </div>
            <div class="form-floating item">
                <select name="ccp" id="ccp" class="form-select">
                    <option value="ccp">Back & front</option>
                    <option value="front">Front</option>
                    <option value="back">Back</option>
                </select>
                <label for="ccp" class="form-label">CCP</label>
            </div>
        </div>
