<span id="presentation"></span>
        <div class="row">
            <div class="col-4">
                <div>
                    <label id="p-start">Début présentation</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="p-heure-debut" readonly>
                        <button class="btn btn-primary" id="p-start">GO</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <label for="p-end">Fin présentation</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="p-heure-fin" readonly>
                        <button class="btn btn-primary" id="p-end">Fin</button>
                    </div>
                </div>
            </div>
            <div class="form-floating col-2">
                <input type="text" class="form-control">
                <label>Prévue</label>
            </div>
            <div class="form-floating col-2">
                <input type="text" class="form-control">
                <label>Réel</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div>
                    <label id="et-start">Début entretien technique</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="et-heure-debut" readonly>
                        <button class="btn btn-primary" id="et-start">GO</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <label for="et-end">Fin entretien technique</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="et-heure-fin" readonly>
                        <button class="btn btn-primary" id="et-end">Fin</button>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <label>Prévue</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-2">
                <label>Réel</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div>
                    <label id="ef-start">Début entretien final</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="ef-heure-debut" readonly>
                        <button class="btn btn-primary" id="ef-start">GO</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <label for="ef-end">Fin entretien final</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="ef-heure-fin" readonly>
                        <button class="btn btn-primary" id="pef-end">Fin</button>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <label>Prévue</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-2">
                <label>Réel</label>
                <input type="text" class="form-control">
            </div>
        </div>
